@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: #f4f3f4;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
} */

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer base {
	#home-section {
		@apply mb-6;
		@apply max-w-full;
	}

	.page-title {
		/* text */
		@apply text-xl md:text-3xl font-bold text-center text-white;

		/* mobile */
		@apply hidden;

		/* web */
		@apply md:block;
		@apply pt-6;
	}

	#image-content {
		@apply md:bg-home-image;
		@apply md:bg-cover md:bg-center;
	}

	.card-container {
		@apply flex flex-col md:flex-row gap-2;
		@apply items-center;
		@apply max-w-full overflow-hidden;
		@apply p-6 md:p-16;
	}
}
