@tailwind base;

@layer base {
	.project-receipts-modal {
		@apply fixed inset-0 z-50;
		@apply flex items-center justify-center;
		@apply bg-black bg-opacity-50;
		@apply w-full h-full;

		.project-receipts-container {
			@apply max-w-xs md:max-w-3xl;
		}
	}

	.receipt-upload-title {
		@apply text-center font-bold;
		font-size: clamp(1rem, 2vw, 1.5rem);
	}

	/* input field */
	.form-uploader {
		font-size: clamp(0.75rem, 1.5vw, 2rem);
	}

	.input-form-fields {
		@apply flex flex-col gap-4;

		font-size: clamp(0.75rem, 1.5vw, 0.9rem);

		.input-fields {
			@apply p-2 border border-gray-300 rounded-md;
		}

		.category-select {
			@apply p-2 rounded-md text-white bg-[#5A8472];
		}
	}

	.receipts-btns {
		@apply flex gap-4;

		.cancel-btn {
			@apply flex-1 p-4 bg-white text-black border border-gray-300 rounded-md;
			font-size: clamp(0.75rem, 1.5vw, 0.9rem);
		}

		.submit-btn {
			@apply flex-1 p-4 bg-[#5A8472] text-white border border-gray-300 rounded-md;
			font-size: clamp(0.75rem, 1.5vw, 0.9rem);
		}
	}

	.add-receipt-btn {
		/* styling */
		@apply rounded-full bg-primary-green-300;
		/* spacing */
		@apply p-2;

		.add-receipt-svg {
			@apply w-4 h-4 stroke-white !important;
		}
	}
}
